﻿
.UserListFooter {
    height: 137px;
    background-image: url("/Images/UserList/gbfooterBlue.png");
}

.UserListFooterWithTransparentfooter {
    height: 137px;
    background-image: url("/Images/UserList/Glbfooter2.png");
}

.headerExploer {
   float: left;
    margin-left: 106px;
}
.headerExploer img {
     margin-top: 45px;
}

.headerProfilePic {
        float: left;
    margin-left: 71px;
}
.headerCheckin {
    float: left;
    margin-left: 106px;
 }

.headerCheckin img {
   margin-top: 43px;
 }
.headerProfilePic img {
    cursor: pointer;
}