﻿@{
    ViewBag.Title = "Activity Map";
    Layout = "../Shared/_FirstLayout.cshtml";
}

@Styles.Render("~/Content/App/ActivityMap.css")

<div style="background-color: #DDE8ED">
    <div>
        <img src="/Images/ActivityMap/Header.png"/>
    </div>
    <div id="actvities">
        
        <div class="row-fluid" style="background-color: #949A9D;">
            <div class="span3 activityLogo">
                <img id="cycling" class="activityLogo" src="~/Images/ActivityMap/biking.png"/>
            </div>
            <div class="span3 activityLogo">
                <img id="coffee" class="activityLogo" src="~/Images/ActivityMap/coffee.png"/>
            </div>
            <div class="span3 activityLogo">
                <img id="competition" class="activityLogo" src="~/Images/ActivityMap/competition.png"/>
            </div>
            <div class="span3 activityLogo">
                <img id="visiting" class="activityLogo" src="~/Images/ActivityMap/visiting.png"/>
            </div>
        </div>
    </div>
    <div id="mappedActivities" @*style="display: none"*@>
        <div id="map-canvas" class="map-display">
        </div>
        <div id="map-canvas-cycling" class="map-display" style="display: none">
        </div>
        <div id="map-canvas-coffee" class="map-display" style="display: none">
        </div>
        <div id="map-canvas-competition" class="map-display" style="display: none">
        </div>
        <div id="map-canvas-visiting" class="map-display" style="display: none">
        </div>
    </div>
    <div id="activitySpecificPlaces" style="display: none">
        <br/>
         <div class="competitionAreas">
            <div class="row-fluid" style="background-color: #DDE8ED; vertical-align: central">
                <div class="span4 mapListCol1">
                    <p></p>
                    <p>1mi</p>
                </div>
                <div class="span4">
                    <p class="mapListCol2MainText">Cross Campus</p>
                    <p class="mapListCol2Address" >820 Broadway, Santa Monica, CA</p>
                </div>
                <div class="span2 offset2 mapListCol3">
                    <p></p>
                    <p>11</p>
                </div>
            </div>
            <div class="row-fluid" style="background-color: #DDE8ED; vertical-align: central">
                <div class="span4 mapListCol1">
                    <p></p>
                    <p>1mi</p>
                </div>
                <div class="span4">
                    <p class="mapListCol2MainText">Icon Mobile</p>
                    <p class="mapListCol2Address" >43 Broadway, Santa Monica, CA</p>
                </div>
                <div class="span2 offset2 mapListCol3">
                    <p></p>
                    <p>15</p>
                </div>
            </div>
            <div class="row-fluid" style="background-color: #DDE8ED; vertical-align: central">
                <div class="span4 mapListCol1">
                    <p></p>
                    <p>1mi</p>
                </div>
                <div class="span4">
                    <p class="mapListCol2MainText">Coloft</p>
                    <p class="mapListCol2Address" >	920 Santa Monica Blvd  Santa Monica, CA </p>
                </div>
                <div class="span2 offset2 mapListCol3">
                    <p></p>
                    <p>25</p>
                </div>
            </div>
            <div class="row-fluid" style="background-color: #DDE8ED; vertical-align: central">
                <div class="span4 mapListCol1">
                    <p></p>
                    <p>1mi</p>
                </div>
                <div class="span4">
                    <p class="mapListCol2MainText">UCLA</p>
                    <p class="mapListCol2Address" >675 Westwood Plaza  Los Angeles, CA</p>
                </div>
                <div class="span2 offset2 mapListCol3">
                    <p></p>
                    <p>55</p>
                </div>
            </div>
            <div class="row-fluid" style="background-color: #DDE8ED; vertical-align: central">
                <div class="span4 mapListCol1">
                    <p></p>
                    <p>1mi</p>
                </div>
                <div class="span4">
                    <p class="mapListCol2MainText">USC</p>
                    <p class="mapListCol2Address" >The University of Southern California, Los Angeles, CA</p>
                </div>
                <div class="span2 offset2 mapListCol3">
                    <p></p>
                    <p>55</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="~/Images/ActivityMap/Footer.png"/>
    </div>
</div>


