﻿@{
    Layout = "../Shared/_FirstLayout.cshtml";
}
<style type="text/css">
    #activitylist {
        margin-left: 0;
        width: 100%;
        text-align: center;
        list-style-type: none;
    }

    #activitylist > li {
        width: 100%;
        margin-bottom: 40px;
    }

    #activityloclist > li {
        text-align: left;
        margin-left: 10px;
        font-size: 30px;
        margin-bottom: 30px;
        color: grey;
    }

    .labelMargin {
        margin-left: 10px;
    }
    #divPlotComment textarea {
         font-family: proxima-nova-n9,proxima-nova,sans-serif;
    font-size: 25px;
    font-style: normal;
    }
</style>
<style>
    .marginTopForCount {
        margin-top: 14px;
    }
    .countNo {
        margin-right: 10px;
    }
    .avatar {
    position: relative;
    overflow: hidden;
    float: left;
    margin: 10px;
    padding: 7px;
    }

    .avatar:after,
    .avatar:before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        border: 1px solid #999; 
        
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; 
     
        box-shadow: 0px 1px 1px 1px #bbb; 
        } 

    .avatar:after {
        z-index: 1;
        border: 5px solid #fff; 
    
        -webkit-box-shadow: 0px 0px 0px 50px #fff;
        -moz-box-shadow: 0px 0px 0px 50px  #fff;
        box-shadow: 0px 0px 0px 50px  #fff;   
        }  
    
    .avatar img{
        display: block;
        }
</style>
@Styles.Render("~/Content/App/ActivityMap.css")

<div id="divFlashScreen">
    <img src="/Images/Flash.png"/>
</div>

<div id="divSingUp">
    <img src="/Images/Archive/HACKATHON2-84.png"/>
    
    <img id="btnNext" style="margin-top: -200px" src="/Images/Archive/HACKATHON2-87.png"/>
</div>

<div id="divCreateInterest">
    <img src="/Images/Archive/CreateInterest.png"/>
    <div style="margin-top: -575px">
        <img id="divInterestBiking" src="/Images/Archive/HACKATHON2-97.png"/>
        <br/>
        <br/>
        <img id="divInterestCompeting" src="/Images/Archive/HACKATHON2-95.png"/>
    </div>
    <img id="btnFinish" style="margin-top: 120px" src="/Images/Archive/HACKATHON2-88.png"/>
</div>

<div id="divActivityList" class="divPanel" style="width: 100%">
    <div style="margin-bottom: 10px">
        <img src="/Images/ListActivity/Header.png"/>
    </div>
    <ul id="activitylist" />
</div>



<div id="divActivityInfo" class="divPanel" style="text-align: center">
    <div style="margin-bottom: 10px;text-align: left">
        <img src="/Images/ListActivity/Header.png"/>
        <img class="backButton" style="margin-top: -110px" src="/Images/ListActivity/backButton.png"/>
    </div>
    <div>
        <img src="~/Images/ListActivity/HECK-16.png" />
        <br />
        <br />
    </div>
    <div id="divPlotComment">
        <div id="chooseActivityLoc">
            <img id="imgActivityLoc" src="~/Images/ListActivity/HECK-26.png" />
            <label id="lblActivityLoc" style="margin-top: -35px;margin-left: 250px;font-size: 25px;color:#36b1bf;text-align: left"></label>
        </div>
        <br />
        <br />
        <img src="~/Images/ListActivity/HECK-22.png" />
        <textarea rows="3" style="margin-top: -300px; width: 534px; height: 241px"></textarea>
        <br />
        <img id="btnPlot" style="text-align: center" src="~/Images/ListActivity/HECK-20.png" />
    </div>
</div>

<div id="divActivityloc" class="divPanel" style="text-align: center;width: 100%">
    <div style="margin-bottom: 10px;text-align: left">
        <img src="/Images/ListActivity/Header.png"/>
        <img class="backButton" style="margin-top: -110px" src="/Images/ListActivity/backButton.png"/>
    </div>
    <div>
        <img src="~/Images/ListActivity/HECK-16.png" />
        <br />
        <br />
    </div>
    <div id="divPlotlocation">
        <img src="~/Images/ListActivity/HECK-26.png" />
        <br />
        <br />
        <img src="~/Images/ListActivity/HECK-23.png" />
        <div style="margin-top: -550px">
            <ul id="activityloclist" style="list-style-type: none">
                <li>
                    <div>
                        <div class="labelMargin">Cross Campus</div>
                        <br />
                        <img src="~/Images/ListActivity/separator.png" />
                    </div>
                </li>
                <li>
                    <div>
                        <div class="labelMargin">Icon Mobile</div>
                        <br />
                        <img src="~/Images/ListActivity/separator.png" />
                    </div>
                </li>
                <li>
                    <div>
                        <div class="labelMargin">Bodega Wine Bar</div>
                        <br />
                        <img src="~/Images/ListActivity/separator.png" />
                    </div>
                </li>
                <li>
                    <div>
                        <div class="labelMargin">Coloft</div>
                        <br />
                        <img src="~/Images/ListActivity/separator.png" />
                    </div>
                </li>
                <li>
                    <div>
                        <div class="labelMargin">3rd Street Promenade</div>
                        <br />
                        <img src="~/Images/ListActivity/separator.png" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="googleMap" class="divPanel">
    <div style="background-color: #949A9D">
        <div>
            <img src="/Images/ActivityMap/EmptyHeader.png"/>
            <img class="backButton" style="margin-top: -110px" src="/Images/ListActivity/backButton.png"/>
            <img id="mapSwticher" class="mapSwitcherIcon-on" style="margin-top: -110px; margin-left: 150px; margin-right: 57px;" src="/Images/ActivityMap/CHECKIN-08.png"/>
            <img id="friendRequest" style="margin-top: -113px;" src="/Images/ActivityMap/FriendRequests.png"/>
        </div>
        <div id="actvities">
            <div class="row-fluid activityIconHolder">
                <div class="span3 activityLogo">
                    <img id="cycling" class="activityLogo" src="~/Images/ActivityMap/biking.png"/>
                </div>
                <div class="span3 activityLogo">
                    <img id="coffee" class="activityLogo" src="~/Images/ActivityMap/coffee.png"/>
                </div>
                <div class="span3 activityLogo">
                    <img id="competition" class="activityLogo" src="~/Images/ActivityMap/competition-focus.png"/>
                </div>
                <div class="span3 activityLogo">
                    <img id="visiting" class="activityLogo" src="~/Images/ActivityMap/visiting.png"/>
                </div>
            </div>
        </div>
        <div id="mappedActivities">
            <div id="map-canvas" class="map-display">
            </div>
            <div id="map-canvas-cycling" class="map-display" style="display: none">
            </div>
            <div id="map-canvas-coffee" class="map-display" style="display: none">
            </div>
            <div id="map-canvas-competition" class="map-display" style="display: none">
            </div>
            <div id="map-canvas-visiting" class="map-display" style="display: none">
            </div>
        </div>
        <div id="activitySpecificPlaces" style="display: none; height: 719px; background-color: #DDE8ED" >
            <br/>
            <div class="competitionAreas">
                <div class="row-fluid crossCampusRow"  style="vertical-align: central">
                    <div class="span4 mapListCol1 milesCol" style="padding-top: 25px; font-size:24px">
                        <p></p>
                        <p>0mi</p>
                    </div>
                    <div class="span4">
                        <p class="mapListCol2MainText">Cross Campus</p>
                        <p class="mapListCol2Address" >820 Broadway, Santa Monica, CA</p>
                    </div>
                    <div class="span2 offset2 mapListCol3">
                        <div style="">
                            <span class="countNo"> 35</span><span><img src="~/Images/ActivityMap/male.png" /></span>
                        </div>
                        <div class="marginTopForCount">
                             <span class="countNo"> 22</span><span><img src="~/Images/ActivityMap/female.png" /></span>
                        </div>
                    </div>
                </div>
                <div class="dottedLineSeperator">
                <img src="~/Images/UserList/dottedLin.png" />
                </div>
                <div class="row-fluid" style="vertical-align: central">
                    <div class="span4 mapListCol1 " style="padding-top: 25px; font-size:24px"`>
                        <p></p>
                        <p>0.5mi</p>
                    </div>
                    <div class="span4">
                        <p class="mapListCol2MainText">Icon Mobile</p>
                        <p class="mapListCol2Address" >43 Broadway, Santa Monica, CA</p>
                    </div>
                    <div class="span2 offset2 mapListCol3">
                        <div style="">
                            <span class="countNo"> 9</span><span><img src="~/Images/ActivityMap/male.png" /></span>
                        </div>
                        <div class="marginTopForCount">
                             <span class="countNo"> 12</span><span><img src="~/Images/ActivityMap/female.png" /></span>
                        </div>
                    </div>
                </div>
                <div class="dottedLineSeperator">
                <img src="~/Images/UserList/dottedLin.png" />
                </div>
                <div class="row-fluid" style="vertical-align: central">
                    <div class="span4 mapListCol1" style="padding-top: 25px; font-size:24px">
                        <p></p>
                        <p>2mi</p>
                    </div>
                    <div class="span4">
                        <p class="mapListCol2MainText">Coloft</p>
                        <p class="mapListCol2Address" >	920 Santa Monica Blvd  Santa Monica, CA </p>
                    </div>
                    <div class="span2 offset2 mapListCol3">
                       <div style="">
                            <span class="countNo"> 50</span><span><img src="~/Images/ActivityMap/male.png" /></span>
                        </div>
                        <div class="marginTopForCount">
                             <span class="countNo"> 35</span><span><img src="~/Images/ActivityMap/female.png" /></span>
                        </div>
                    </div>
                </div>
                <div class="dottedLineSeperator">
                <img src="~/Images/UserList/dottedLin.png" />
                </div>
                <div class="row-fluid" style="vertical-align: central">
                    <div class="span4 mapListCol1" style="padding-top: 25px; font-size:24px">
                        <p></p>
                        <p>5.8mi</p>
                    </div>
                    <div class="span4">
                        <p class="mapListCol2MainText">UCLA</p>
                        <p class="mapListCol2Address" >675 Westwood Plaza  Los Angeles, CA</p>
                    </div>
                    <div class="span2 offset2 mapListCol3">
                        <div style="">
                            <span class="countNo"> 79</span><span><img src="~/Images/ActivityMap/male.png" /></span>
                        </div>
                        <div class="marginTopForCount">
                             <span class="countNo"> 64</span><span><img src="~/Images/ActivityMap/female.png" /></span>
                        </div>
                    </div>
                </div>
                <div class="dottedLineSeperator">
                <img src="~/Images/UserList/dottedLin.png" />
                </div>
                <div class="row-fluid" style="vertical-align: central">
                    <div class="span4 mapListCol1" style="padding-top: 25px; font-size:24px">
                        <p></p>
                        <p>11.8mi</p>
                    </div>
                    <div class="span4">
                        <p class="mapListCol2MainText">USC</p>
                        <p class="mapListCol2Address" >The University of Southern California, Los Angeles, CA</p>
                    </div>
                    <div class="span2 offset2 mapListCol3">
                       <div style="">
                            <span class="countNo"> 101</span><span><img src="~/Images/ActivityMap/male.png" /></span>
                        </div>
                        <div class="marginTopForCount">
                             <span class="countNo"> 140</span><span><img src="~/Images/ActivityMap/female.png" /></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="UserListFooter">
      
        <div class="headerExploer">
            <img parentDiv="#googleMap" src="~/Images/UserList/exploer.png" />
        </div>
        
        <div class="headerProfilePic">
            <img parentDiv="#googleMap" src="~/Images/UserList/FooterprofilePic.png" />
            
        </div>
        
        <div class="headerCheckin">
            <img parentDiv="#googleMap" src="~/Images/UserList/PEOPLELIST2-39.png" />
            
        </div>
    </div>
    </div>
</div>

<div id="UserList" class="divPanel">
    <div id="UserListHeader">
        <img src="/Images/UserList/userHeader.png"/>
        <img class="backButton" style="margin-top: -110px" src="/Images/ListActivity/backButton.png"/>
    </div>
    <div id="UserListContent">
        <div class="UListItem">
            <div class="pfPicture fl">
                <img src="~/Images/UserList/U1.png" />
            </div>
            <div class="pfDesc fl" >
                <div class="UserBadge rounded-corners">
                    Highlander           
                </div>
                <div class="userLocationList">
                    from los Angles, CA
                </div>
            </div>
            <div class="pfConn fl" >
                <img src="~/Images/UserList/PEOPLELIST-63.png" />
            </div>
        </div>
        <div class="dottedLineSeperator">
            <img src="~/Images/UserList/dottedLin.png" />
        </div>
        <div class="UListItem">
            <div class="pfPicture fl">
                <img src="~/Images/UserList/chick.png" />
            </div>
            <div class="pfDesc fl" >
                <div class="UserBadge rounded-corners">
                    Great White           
                </div>
                <div class="userLocationList">
                    from SFO, CA
                </div>
            </div>
            <div class="pfConn fl" >
                <img src="~/Images/UserList/PEOPLELIST-63.png" />
            </div>
        </div>
        <div class="dottedLineSeperator">
            <img src="~/Images/UserList/dottedLin.png" />
        </div>
        <div class="UListItem">
            <div class="pfPicture fl">
                <img src="~/Images/UserList/U2.png" />
            </div>
            <div class="pfDesc fl" >
                <div class="UserBadge rounded-corners">
                    Barracuda           
                </div>
                <div class="userLocationList">
                    from Ny, Ny
                </div>
            </div>
            <div class="pfConn fl" >
                <img src="~/Images/UserList/linkBlack.png" />
            </div>
        </div>
        <div class="dottedLineSeperator">
            <img src="~/Images/UserList/dottedLin.png" />
        </div>
        <div class="UListItem">
            <div class="pfPicture fl">
                <img src="~/Images/UserList/U3.png" />
            </div>
            <div class="pfDesc fl" >
                <div class="UserBadge rounded-corners">
                    High Roller           
                </div>
                <div class="userLocationList">
                    from Culver City, CA
                </div>
            </div>
            <div class="pfConn fl" >
                <img id="linktoconnectBox" src="~/Images/UserList/PEOPLELIST-63.png" />
            </div>
        </div>
        <div class="dottedLineSeperator">
            <img src="~/Images/UserList/dottedLin.png" />
        </div>
        <div class="UListItem">
            <div class="pfPicture fl">
                <img src="~/Images/UserList/U4.png" />
            </div>
            <div class="pfDesc fl" >
                <div class="UserBadge rounded-corners">
                    High Roller           
                </div>
                <div class="userLocationList">
                    from Malibu, CA
                </div>
            </div>
            <div class="pfConn fl" >
                <img src="~/Images/UserList/linkBlack.png" />
            </div>
        </div>
    </div>

    <div class="UserListFooter">
      
        <div class="headerExploer">
            <img parentDiv="#UserList" src="~/Images/UserList/exploer.png" />
        </div>
        
        <div class="headerProfilePic">
            <img parentDiv="#UserList" src="~/Images/UserList/FooterprofilePic.png" />
            
        </div>
        
        <div class="headerCheckin">
            <img parentDiv="#UserList" src="~/Images/UserList/PEOPLELIST2-39.png" />
            
        </div>
    </div>
</div>

<div  id="profile_container" class="divPanel">
    <div style="height: 923px ">
        <img src="@Url.Content("~/Images/profile-0009.png")" alt="Alternate Text" />
        </div>
    <div class="UserListFooter">
      
        <div class="headerExploer">
            <img parentDiv="#profile_container" src="~/Images/UserList/exploer.png" />
        </div>
        
        <div class="headerProfilePic">
            <img parentDiv="#profile_container" src="~/Images/UserList/FooterprofilePic.png" />
            
        </div>
        
        <div class="headerCheckin">
            <img parentDiv="#profile_container" src="~/Images/UserList/PEOPLELIST2-39.png" />
            
        </div>
    </div>
</div>

<div id="match_container" class="divPanel">
    <img src="@Url.Content("~/Images/Match.png")" alt="Alternate Text" />
    <img id="btnConnectConnection" src="@Url.Content("~/Images/Connect.png")" style="margin-left: 197px;margin-top: -1153px;" />
    <img class="backButton" style="margin-top: -1790px;margin-left:-430px" src="/Images/ListActivity/backButton.png"/>
    <div class="UserListFooter">
      
        <div class="headerExploer">
            <img parentDiv="#match_container" src="~/Images/UserList/exploer.png" />
        </div>
        
        <div class="headerProfilePic">
            <img parentDiv="#match_container" src="~/Images/UserList/FooterprofilePic.png" />
            
        </div>
        
        <div class="headerCheckin">
            <img parentDiv="#match_container"   src="~/Images/UserList/PEOPLELIST2-39.png" />
            
        </div>
    </div>
</div>