﻿@{
    Layout = "../Shared/_FirstLayout.cshtml";
}
<style type="text/css">
    #activitylist {
        margin-left: 0;
        width: 100%;
        text-align: center;
        list-style-type: none;
    }

        #activitylist > li {
            width: 100%;
            margin-bottom: 50px;
        }

    #activityloclist > li {
        text-align: left;
        margin-left: 10px;
        font-size: 30px;
        margin-bottom: 30px;
        color: grey;
    }

    .labelMargin {
        margin-left: 10px;
    }
</style>
<div id="divActivityList" style="width: 100%">
    <ul id="activitylist" />
</div>
<div id="divActivityInfo" style="text-align: center">
    <div>
        <img src="~/Images/ListActivity/HECK-16.png" />
        <br />
        <br />
    </div>
    <div id="divPlotComment">
        <img src="~/Images/ListActivity/HECK-26.png" />
        <br />
        <br />
        <img src="~/Images/ListActivity/HECK-22.png" />
        <textarea rows="3" style="margin-top: -300px; width: 534px; height: 241px"></textarea>
        <br />
        <img id="btnPlot" style="text-align: center" src="~/Images/ListActivity/HECK-20.png" />
    </div>
</div>
<div id="divActivityloc" style="text-align: center;width: 100%">
    <div>
        <img src="~/Images/ListActivity/HECK-16.png" />
        <br />
        <br />
    </div>
    <div id="divPlotlocation">
        <img src="~/Images/ListActivity/HECK-26.png" />
        <br />
        <br />
        <img src="~/Images/ListActivity/HECK-23.png" />
        <div style="margin-top: -550px">
            <ul id="activityloclist" style="list-style-type: none">
                <li>
                    <div>
                        <div class="labelMargin">Cross Campus</div>
                        <br />
                        <img src="~/Images/ListActivity/separator.png" />
                    </div>
                </li>
                <li>
                    <div>
                        <div class="labelMargin">Icon Mobile</div>
                        <br />
                        <img src="~/Images/ListActivity/separator.png" />
                    </div>
                </li>
                <li>
                    <div>
                        <div class="labelMargin">Bodega Wine Bar</div>
                        <br />
                        <img src="~/Images/ListActivity/separator.png" />
                    </div>
                </li>
                <li>
                    <div>
                        <div class="labelMargin">Coloft</div>
                        <br />
                        <img src="~/Images/ListActivity/separator.png" />
                    </div>
                </li>
                <li>
                    <div>
                        <div class="labelMargin">3rd Street Promenade</div>
                        <br />
                        <img src="~/Images/ListActivity/separator.png" />
                    </div>
                </li>
            </ul>
        </div>
        @*<textarea rows="3" style="margin-top: -300px;width: 534px; height: 241px"></textarea>*@
    </div>
</div>
