﻿@{
    ViewBag.Title = "ProfileMatch";
}

<style>
    .avatar {
    position: relative;
    overflow: hidden;
    float: left;
    margin: 10px;
    padding: 7px;
    }

    .avatar:after,
    .avatar:before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        border: 1px solid #999; 
        
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; 
     
        box-shadow: 0px 1px 1px 1px #bbb; 
        } 

    .avatar:after {
        z-index: 1;
        border: 5px solid #fff; 
    
        -webkit-box-shadow: 0px 0px 0px 50px #fff;
        -moz-box-shadow: 0px 0px 0px 50px  #fff;
        box-shadow: 0px 0px 0px 50px  #fff;   
        }  
    
    .avatar img{
        display: block;
        }
</style>
<h2>Profile Match</h2>
<div id="match_container">
    <div class="row-fluid" style="margin-left: 20px;">
        <div class="span4">
            <div class="avatar" style="width: 100px;height: 100px;">
                <img src="@Url.Content("~/Images/heads/male.jpg")" alt="Alternate Text" /> 
            </div>
                
        </div>
        <div class="span2"style="color: green; font-size: 1.45em">
            <h1>84%</h1>
                
        </div>
         <div class="span4">
                <div class="avatar" style="width: 100px;height: 100px;">
                    <img src="@Url.Content("~/Images/heads/female.jpg")" alt="Alternate Text" /> 
                </div>
                
            </div>
    </div>
    <div class="row-fluid" style="margin-left: 20px;">
        <h3>Activities in common</h3>
        <span class="badge badge-success" style="font-size: 1.20em;">Hiking</span>
        <span class="badge badge-success" style="font-size: 1.20em;">Biking</span>
        <span class="badge badge-success" style="font-size: 1.20em;">Competition</span>
    </div>
    <br/>
    <div class="row-fluid">
        <div style="margin-left: 250px;">
        <button class="btn btn-large btn-primary" type="button">Connect !</button>
                
        </div>
    </div>
</div>