﻿@{
    ViewBag.Title = "Profile";
}
<style>
    .avatar {
    position: relative;
    overflow: hidden;
    float: left;
    margin: 10px;
    padding: 7px;
    }

    .avatar:after,
    .avatar:before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        border: 1px solid #999; 
        
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; 
     
        box-shadow: 0px 1px 1px 1px #bbb; 
        } 

    .avatar:after {
        z-index: 1;
        border: 5px solid #fff; 
    
        -webkit-box-shadow: 0px 0px 0px 50px #fff;
        -moz-box-shadow: 0px 0px 0px 50px  #fff;
        box-shadow: 0px 0px 0px 50px  #fff;   
        }  
    
    .avatar img{
        display: block;
        }
</style>
<div  id="profile_container" style="margin-left: 20px">
    <h2>Profile</h2>
    <div id="profile_header" >
        <div class="row-fluid">
            <div class="span6">
                <div class="avatar" style="width: 100px;height: 100px;">
                    <img src="@Url.Content("~/Images/heads/male.jpg")" alt="Alternate Text" /> 
                </div>
                
            </div>
            <div class="span6">
                <label><strong>Rahul Ballal (perpetualcoder)</strong></label>
                <label><strong>Male, 30</strong></label>
                <label><strong>Los Angeles, California</strong></label>
            </div>
        </div>
    </div>
    <div id="profile_activities" >
        <h4>Activity Chart</h4>
        <div class="row-fluid">
            <div class="span6">
                <div class="avatar" style="width: 50px;height: 50px;">
                    <img src="@Url.Content("~/Images/activity-fake.jpg")" alt="Alternate Text" /> 
                </div>
            </div>
            <div class="span6">
                <h3>50%</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="avatar" style="width: 50px;height: 50px;">
                    <img src="@Url.Content("~/Images/activity-fake-1.jpg")" alt="Alternate Text" /> 
                </div>
            </div>
            <div class="span6">
                <h3>50%</h3>
            </div>
        </div>
       @* <div class="row-fluid">
            <div class="span6">
                <div class="avatar" style="width: 50px;height: 50px;">
                    <img src="@Url.Content("~/Images/activity-fake.jpg")" alt="Alternate Text" /> 
                </div>
            </div>
            <div class="span6">
                <h3>25%</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="avatar" style="width: 50px;height: 50px;">
                    <img src="@Url.Content("~/Images/activity-fake-1.jpg")" alt="Alternate Text" /> 
                </div>
            </div>
            <div class="span6">
                <h3>5%</h3>
            </div>
        </div>*@
    </div>
    <div id="profile_badges">
        <h4>Achievements</h4>
       
        <div class="row-fluid">
            <div class="span4">
                <span class="label label-warning" style="font-size: 1.25em;">Speedy Gonzales</span> 
            </div>
            <div class="span4">
                <span class="label label-success" style="font-size: 1.25em;">Bogie Chaser</span>
            </div>
            <div class="span4">
                <span class="label label-important" style="font-size: 1.25em;">Gym Freak</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <span class="label label-success" style="font-size: 1.25em;">Hulk</span> 
            </div>
        </div>
    </div>
    <div id="profile_buddymap">
        <h4>How they met</h4>
        <div class="row-fluid">
            <div class="span6">
                <div class="avatar" style="width: 50px;height: 50px;">
                    <img src="@Url.Content("~/Images/heads/female.jpg")" alt="Alternate Text" /> 
                </div> 
            </div>
            <div class="span6">
                <div class="avatar" style="width: 50px;height: 50px;">
                    <img src="@Url.Content("~/Images/activity-fake.jpg")" alt="Alternate Text" /> 
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="avatar" style="width: 50px;height: 50px;">
                    <img src="@Url.Content("~/Images/heads/male-2.jpg")" alt="Alternate Text" /> 
                </div> 
            </div>
            <div class="span6">
                <div class="avatar" style="width: 50px;height: 50px;">
                    <img src="@Url.Content("~/Images/activity-fake.jpg")" alt="Alternate Text" /> 
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="avatar" style="width: 50px;height: 50px;">
                    <img src="@Url.Content("~/Images/heads/female-2.jpg")" alt="Alternate Text" /> 
                </div> 
            </div>
            <div class="span6">
                <div class="avatar" style="width: 50px;height: 50px;">
                    <img src="@Url.Content("~/Images/activity-fake.jpg")" alt="Alternate Text" /> 
                </div>
            </div>
        </div>
    </div>
</div>
