﻿@{
    ViewBag.Title = "UserList";
}

<link href="~/Content/UserList.css" rel="stylesheet" />
<link href="~/Content/Global/FooterUser.css" rel="stylesheet" />

<div id="UserList">
    <div id="UserListHeader">
        
    </div>
    <div id="UserListContent">
        <div class="UListItem">
            <div class="pfPicture fl">
                <img src="~/Images/UserList/U1.png" />
            </div>
            <div class="pfDesc fl" >
                <div class="UserBadge rounded-corners">
                    Arnold           
                </div>
                <div class="userLocationList">
                    from los Angles, CA
                </div>
            </div>
            <div class="pfConn fl" >
                <img src="~/Images/UserList/PEOPLELIST-63.png" />
            </div>
        </div>
        <div class="dottedLineSeperator">
            <img src="~/Images/UserList/dottedLin.png" />
        </div>
        <div class="UListItem">
            <div class="pfPicture fl">
                <img src="~/Images/UserList/chick.png" />
            </div>
            <div class="pfDesc fl" >
                <div class="UserBadge rounded-corners">
                    Arnold           
                </div>
                <div class="userLocationList">
                    from SFO, CA
                </div>
            </div>
            <div class="pfConn fl" >
                <img src="~/Images/UserList/PEOPLELIST-63.png" />
            </div>
        </div>
        <div class="dottedLineSeperator">
            <img src="~/Images/UserList/dottedLin.png" />
        </div>
        <div class="UListItem">
            <div class="pfPicture fl">
                <img src="~/Images/UserList/U2.png" />
            </div>
            <div class="pfDesc fl" >
                <div class="UserBadge rounded-corners">
                    Arnold           
                </div>
                <div class="userLocationList">
                    from Ny, Ny
                </div>
            </div>
            <div class="pfConn fl" >
                <img src="~/Images/UserList/linkBlack.png" />
            </div>
        </div>
        <div class="dottedLineSeperator">
            <img src="~/Images/UserList/dottedLin.png" />
        </div>
        <div class="UListItem">
            <div class="pfPicture fl">
                <img src="~/Images/UserList/U3.png" />
            </div>
            <div class="pfDesc fl" >
                <div class="UserBadge rounded-corners">
                    Arnold           
                </div>
                <div class="userLocationList">
                    from Culver City, CA
                </div>
            </div>
            <div class="pfConn fl" >
                <img src="~/Images/UserList/PEOPLELIST-63.png" />
            </div>
        </div>
        <div class="dottedLineSeperator">
            <img src="~/Images/UserList/dottedLin.png" />
        </div>
        <div class="UListItem">
            <div class="pfPicture fl">
                <img src="~/Images/UserList/U4.png" />
            </div>
            <div class="pfDesc fl" >
                <div class="UserBadge rounded-corners">
                    Arnold           
                </div>
                <div class="userLocationList">
                    from Malibu, CA
                </div>
            </div>
            <div class="pfConn fl" >
                <img src="~/Images/UserList/linkBlack.png" />
            </div>
        </div>
    </div>

    <div id="UserListFooter">
      
        <div class="headerExploer">
            <img src="~/Images/UserList/exploer.png" />
        </div>
        
        <div class="headerProfilePic">
            <img src="~/Images/UserList/FooterprofilePic.png" />
            
        </div>
        
        <div class="headerCheckin">
            <img src="~/Images/UserList/PEOPLELIST2-39.png" />
            
        </div>
    </div>
</div>

