﻿
#UserListHeader {
    height: 88px;
      background-image: url("/Images/UserList/userHeader.png");
    
}
#UserListContent {
    background-color: #DDE8ED;
    height: 835px;
}

#UserListContent  .fl {
    float:left
}

#UserListContent .UListItem {
    padding: 23px 9px 16px 22px;
     overflow: hidden;
}
#UserListContent .pfDesc {
     font-size: 21px;
    margin-left: 20px;
}

#UserListContent .pfDesc .UserBadge {
   background-color: #A9D8B4;
    padding: 7px;
width: 119px;
 text-align: center;
}

#UserListContent .pfDesc .userLocationList {
    color: grey;
    margin-left: 6px;
    margin-top: 11px;
    
}
.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
#UserListContent .pfConn {
  float: right;
    margin-left: 249px;
    margin-right: 12px;
}
.dottedLineSeperator {
    
}

.pfConn img {
    cursor: pointer;
}
.headerExploer img, .headerCheckin img {
    cursor: pointer;
}