﻿.map-display {
        height: 695px;
        width: 100%; 
}

.activityLogo {
    /*height: 120px;
    width: 120px;*/
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 20px ;
}

.activityIconHolder {
    filter: alpha(opacity=90);  
      
}

.activityListTest {
    color: #736357;
    font-family: Calibri;
    font-size: large;
}

#competitionList > td {
    margin-right:10px;
}

.mapListCol1 {
    font-size: 1.5em; 
    font-weight: 200;
    margin-bottom:30px;
    padding-left:50px;
}

.mapListCol2MainText {
    font-size: 2.0em; 
    font-weight: 200;
    padding-top:10px;
}

.mapListCol2Address {
    font-size: 1.2em; 
    font-weight: 200;
    margin-bottom:30px;
}
.mapListCol3 {
    font-size: 1.5em; 
    font-weight: 200;
    margin-bottom:30px;
    margin-top: 10px;
}