﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
                <link href="~/Content/UserList.css" rel="stylesheet" />
        <link href="~/Content/Global/FooterUser.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body style="margin-left: 600px;width: 640px; height: 960px; border: 1px solid gray;">
        <div id="body" style="margin-top: -60px">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/App/listactivity.js"></script>
        <script src="~/Scripts/jsonData/data.js"></script>
        @RenderSection("scripts", required: false)
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
        <script src="~/Scripts/App/ActivityMap.js"></script>


    </body>
</html>
