﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body style="margin-left: 600px;width: 640px; height: 960px; border: 1px solid gray; padding-top: 0px">
        @*<header>
            <div class="content-wrapper">
                
            </div>
        </header>*@
        <div id="body">
            @RenderBody()
        </div>
       @* <footer>
            <div class="content-wrapper">
            </div>
        </footer>*@
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/App/listactivity.js"></script>
        <script src="~/Scripts/jsonData/data.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>  
        <script src="~/Scripts/App/ActivityMap.js"></script>
        @RenderSection("scripts", required: false)
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
        <script src="~/Scripts/App/ActivityMap.js"></script>
    </body>      
</html>
